<div class="category-container">
  <h1>Category form</h1>
  <mat-card class="mat-elevation-z4">
    <form
      class="category-form"
      *ngIf="categoryForm"
      [formGroup]="categoryForm"
      (ngSubmit)="saveCategory()"
    >
      <section>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Title: </mat-label>
          <input matInput type="text" [formControl]="title" required />
          <mat-error *ngIf="title.hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="title.hasError('maxlength')">
            Title can be max 55 characters long.
          </mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Description: </mat-label>
          <textarea
            matInput
            type="text"
            [formControl]="description"
            required
          ></textarea>
          <mat-error *ngIf="description.hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="description.hasError('maxlength')">
            Description can be max 255 characters long.
          </mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Css color: </mat-label>
          <input matInput type="text" [formControl]="css_color" required />
          <mat-error *ngIf="css_color.hasError('required')">
            Css color is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="css_color.hasError('maxlength')">
            Css color can be max 7 characters long.
          </mat-error>
        </mat-form-field>
      </section>
      <section>
        <button
          class="category-btn"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!categoryForm.valid"
        >
          SAVE
        </button>
      </section>
    </form>
  </mat-card>
</div>
