<!-- <h2>Categories List</h2>
<button (click)="createCategory()">ADD</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>CSS COLOR</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.css_color }}</td>
      <td>
        <button (click)="updateCategory(category.categoryId)">UPDATE</button>
        <button (click)="deleteCategory(category.categoryId)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table> -->

<h2 class="title">Categories List</h2>

<button
  class="add-btn"
  mat-raised-button
  color="primary"
  (click)="createCategory()"
>
  ADD
</button>

<table mat-table [dataSource]="categories" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let category">{{ category.categoryId }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>TITLE</th>
    <td mat-cell *matCellDef="let category">{{ category.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
    <td mat-cell *matCellDef="let category">{{ category.description }}</td>
  </ng-container>

  <ng-container matColumnDef="css_color">
    <th mat-header-cell *matHeaderCellDef>NUM LIKES</th>
    <td mat-cell *matCellDef="let category">{{ category.css_color }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
    <td mat-cell *matCellDef="let category">
      <button
        mat-icon-button
        color="warn"
        (click)="updateCategory(category.categoryId)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteCategory(category.categoryId)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
