.title {
  text-align: center;
}

.add-btn {
  width: fit-content;

  @media (min-width: 750px) {
    margin-left: 1.5rem;
  }
}

table {
  width: 100vw;
  margin: 0;

  @media (min-width: 750px) {
    width: 96%;
    margin: 1rem auto;
  }
}
