.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.post-form {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
}

.post-btn {
  margin-top: 1rem;
}

.full-width {
  width: 100%;
}

@media (min-width: 600px) {
  mat-card {
    width: 50%;
  }
}
