.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.login-form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

.login-btn {
  margin-top: 1rem;
}

.full-width {
  width: 100%;
}
